{% extends "base.html" %}
{% block content %}

<h1>Users</h1>

<div class="display-cards">
    {% for user in users %}
    <div class="card">
        <label for="username"><h2>{{ user.name }}</h2></label>
        <a id="username" href="{{ url_for('get_movies', user_id=user.id) }}" class="btn-small">View Movies</a>
    </div>
    {% endfor %}
</ul>
</div>
<form action="{{ url_for('create_users') }}" method="post">
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <label for="new_user_name">Name (3 to 15 characters):</label>
    <input
            type="text"
            id="new_user_name"
            name="new_user_name"
            minlength="3"
            maxlength="15"
            size="15"
            placeholder="Enter username"
            required/>
    <input class="btn" type="submit" value="Add user"/>
</form>



{% endblock %}
