{% extends "base.html" %}
{% block content %}

<h1>{{ user.name }}'s Favourites</h1>

{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}

<div class="display-cards">
    {% for movie in movies %}
    <div class="card">
        <img src="{{ movie.poster_url }}" alt="Poster for {{ movie.title }}" class="movie-poster">
        <form action="{{ url_for('update_title', user_id=user.id, movie_id=movie.id) }}" method="post">
            <input name="title" required type="text" value="{{ movie.title }}">
            <button type="submit" class="btn-small">Update Title</button>
        </form>
            <div><strong>Year: </strong> {{movie.year }}</div>
            <div><strong>Director: </strong> {{ movie.director }}</div>
        <form action="{{ url_for('delete_movie', user_id=user.id, movie_id=movie.id) }}" method="post">
            <button type="submit" class="btn-small-delete">Remove Movie</button>
        </form>
    </div>
    {% endfor %}
</div>

<form action="{{ url_for('add_to_favourites', user_id=user.id) }}" method="post">
<h2>Add Movie</h2>
    <input
        type="text"
        name="title"
        id="title"
        minlength="1"
        maxlength="200"
        placeholder="Title"
        required/>
    <input
        type="number"
        name="year"
        id="year"
        min="1800"
        max="3000"
        step="1"
        placeholder="Year (optional, YYYY)"/>

    <input class="btn" type="submit" value="Add Movie"/>
</form>



{% endblock %}
